<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>登录</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/log.css') }}" />
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/fonts.css') }}" />
    <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.validate.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/messages_zh.js') }}"></script>
    <script src="{{ url_for('static', filename='js/validate.js') }}"></script>
</head>

<body>
    <div class="log-back">
        <div class="welcome">
            <p>欢迎来到……</p>
        </div>
        <div class="log-wrapper">
            <h1 class="log-title">登录</h1>
            <p>若无账号，请先<a href="{{ url_for('reg') }}">注册</a></p>
            <form id="reglog-form" method="post" action="/login/" enctype="multipart/form-data">
                <label for="username">用户名</label>
                <input type="text" id="username" name="username">
                <br /><br />
                <label for="password">密码</label>
                <input type="password" id="password" name="password">
                <br /><br />
                <input type="submit" value="登录" class="log-button" onclick="return store_data();">
            </form>
        </div>
    </div>
</body>
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script type="text/javascript">
function store_data(){
    setCookie("name", document.getElementsByName("username")[0].value, 1);
    setCookie("password", document.getElementsByName("password")[0].value, 1);
    $.ajax({
        type: "POST",
        url: "/check_able_login/",
        dataType: "json",
        // headers: {"Content-Type": "application/json"},
        contentType: "application/json; charset=utf-8",
        data: JSON.stringify({"name": document.getElementsByName("username")[0].value}),
        success: function(response){
            if(response.response["code"] == 0){
                alert("Creating your account now. Please be patient...");
                return false;
            }
            else{
                document.getElementById("reglog-form").submit();
                return true;
            }
        }
    });
    return false;
}
function setCookie(cname, cvalue, exdays) {
  var d = new Date();
  d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
  var expires = "expires="+d.toUTCString();
  document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
}
function getCookie(cname) {
  var name = cname + "=";
  var decodedCookie = decodeURIComponent(document.cookie);
  var ca = decodedCookie.split(';');
  for(var i = 0; i <ca.length; i++) {
    var c = ca[i];
    while (c.charAt(0) == ' ') {
      c = c.substring(1);
    }
    if (c.indexOf(name) == 0) {
      return c.substring(name.length, c.length);
    }
  }
  return "";
}
</script>
</html>